/**
 * Rbot main stylesheet
 */
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input,
textarea,
select {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
/**
 * Vars.less
 */
html,
body {
  height: 100%;
}
body {
  background: #222222;
  color: #999999;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-family: "Source Code Pro";
  overflow-x: hidden;
  font-size: 14px;
}
input,
textarea,
select {
  font-family: "Source Code Pro";
}
#cmd {
  position: fixed;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0 5px;
  font-size: 16px;
}
#intel {
  display: none;
  position: fixed;
  margin: 0;
  width: 100%;
  bottom: 30px;
  left: 0;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  box-shadow: none;
  padding: 0 5px;
  font-size: 16px;
}
#console {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-family: "Source Code Pro";
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 5px;
  overflow-x: hidden;
  /* word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; */
}
#console::selection {
  background: #bbbbbb;
  /* WebKit/Blink Browsers */
  color: #000000;
}
#console::-moz-selection {
  background: #bbbbbb;
  /* Gecko Browsers */
  color: #000000;
}
#console span.red::selection {
  background: #cc0000;
  /* WebKit/Blink Browsers */
  color: #ccc;
}
#console span.red::-moz-selection {
  background: #cc0000;
  /* Gecko Browsers */
  color: #ccc;
}
#console.with-time .line {
  display: inline-block;
  margin-left: 95px;
}
.line {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-family: "Source Code Pro";
  font-size: 14px;
  line-height: 18px;
}
.line-ts,
.line-ts-block {
  position: absolute;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #6b6b6b;
  display: inline-block;
  vertical-align: middle;
  float: left;
  z-index: 1;
  letter-spacing: -1px;
  border-radius: 0 8px 8px 0;
  border-top: 1px solid #222222;
  left: 0;
  transition: all 0.3s ease-in-out;
  font-family: "Source Code Pro";
  text-align: center;
  /*  & + .line {
       display:inline-block;
       margin-left: 95px;
   } */
}
.line-ts-block:not(.line-ts) {
  display: none;
}
.line-ts-block.line-ts {
  width: 95px;
}
.line {
  border-left: 1px solid #333;
  padding-left: 10px;
}
span.red {
  color: #ff9999;
}
.clear {
  clear: both;
  height: 0;
}
