/**
 * Rbot main stylesheet
 */
@import "reset.less";
@import "vars.less";

html, body {
    height: 100%;
}

body {
    background:@body_bg;
    color:@body_color;
    font-family: @mono_font_fallback;
    font-family: @body_font;
    overflow-x:hidden;
    font-size: 14px;
}

input, textarea, select {
    font-family: @mono_font;
}

#cmd {
    position:fixed;
    margin:0;
    width:100%;
    bottom:0;
    left:0;
    height:@cmd_height;
    background:@cmd_bg;
    color:@cmd_color;
    border:0;
    outline:none;
    box-shadow:none;
    padding:0 5px;
    font-size: 16px;
}

#intel {
    display:none;
    position:fixed;
    margin:0;
    width:100%;
    bottom:@cmd_height;
    left:0;
    height:200px;
    background:rgba(0,0,0,0.2);
    color:@cmd_color;
    box-shadow:none;
    padding:0 5px;
    font-size: 16px;
}

#console {
    font-family: @mono_font_fallback;
    font-family: @body_font;
    font-size: @console_fontsize;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    max-width: 100%;
    margin-bottom:@cmd_height;
    //margin-top:@cmd_height + 10px;
    padding:@console_padding;
    
    //border:1px solid #ccc;
    //height:100px;
    overflow-x: hidden;
    //
    /* word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; */

    &::selection {
        background: @console_bg_textselection; /* WebKit/Blink Browsers */
        color: @console_color_textselection;
    }
    &::-moz-selection {
        background: @console_bg_textselection; /* Gecko Browsers */
        color: @console_color_textselection;
    }

    span.red::selection {
        background: #cc0000; /* WebKit/Blink Browsers */
        color: #ccc;
    }
    span.red::-moz-selection {
        background: #cc0000; /* Gecko Browsers */
        color: #ccc;
    }


    &.with-time {
        .line {
            display:inline-block;
            margin-left: 95px;
        }
    }
}

.line {
    font-family: @mono_font_fallback;
    font-family: @body_font;
    font-size: @console_fontsize;
    line-height: @console_lineheight;
}


.line-ts, .line-ts-block {
    position: absolute;
    font-size: @time_fontsize;
    line-height: @console_lineheight;
    color:@time_color;
    background-color: @time_bg;
    display:inline-block;
    vertical-align: middle;
    float:left;
    z-index:1;
    letter-spacing: -1px;
    border-radius: 0 8px 8px 0;
    border-top:1px solid @body_bg;
    //padding-right:5px;
    left:0;
    transition:all 0.3s ease-in-out;
    font-family: @body_font;
    //font-weight: bold;
    text-align: center;
    //box-shadow:2px 8px 8px -8px #000;

   /*  & + .line {
       display:inline-block;
       margin-left: 95px;
   } */
}

.line-ts-block:not(.line-ts) {
    display:none;
}
.line-ts-block.line-ts {
    width: 95px;
}

.line {
    border-left:1px solid #333;
    padding-left:10px;
}


span.red {
    color:lighten(#ff0000, 30%);
}

.clear {
    clear:both;
    height:0;
}