/**
 * Rbot main stylesheet
 */
@import "reset.less";
@import "vars.less";

html, body {
    min-height: 100%;
}

body {
    background:@body_bg;
    color:@body_color;
    font-family: @body_font;
    overflow-x:hidden;
}

input, textarea, select {
    font-family: @mono_font;
}

#cmd {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    height:@cmd_height;
    background:@cmd_bg;
    color:@cmd_color;
    border:0;
    outline:none;
    box-shadow:none;
    padding:0 5px;
    font-size: 16px;
}

#console {
   font-size: 14px;
   line-height: 15px;
   margin-top:@cmd_height + 10px;
}

span.red {
    color:#cc0000;
}