/**
 * Vars.less
 */

//@mono_font: Menlo,Monaco,Consolas,"Courier New",monospace;
@mono_font: "Source Code Pro";

@body_bg: #222;
@body_color: #999;
@body_font: @mono_font;

@cmd_height: 30px;
@cmd_bg: #444;
@cmd_color: #fff;

@console_font: @mono_font;
@console_fontsize: 14px;
@console_lineheigth: 15px;
@console_padding: 5px;
